.card-Listing-Container{
    background-color: #fff;
    
}
.card{
    background-color: #fff;
    
}

@media only screen and (max-width: 600px) {
  .Card{
      width: 300px;
      margin-left: 10px;
      margin-bottom: 50px;
      
  }.card-Listing-Container{
    margin: 0;
    padding: 0;
    text-align: center;
    
}
}